/* Used for vertical nav menu */
#navcontainer {
	margin-left: 0px;
	position: relative;
	left: 0px;
	top: 0px;
}
#navcontainer ul {
	margin: 0;
	padding: 1px;
	list-style-type: none;
	font-family: "verdana", "arial", "Helvetica", "sans-serif";
	font-size: 14px;
}
#navcontainer li {
	margin: 0;
}
#navcontainer a {
	display: block;
	padding: 5px 10px;
	width: 160px;
	color: #000;
	background-color: #ADC1AD;
	text-decoration: none;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	font-weight: bold;
	font-size: .8em;
	background-image: url(../images/vertical06.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#navcontainer a:hover {
	color: #000;
	background-color: #889E88;
	text-decoration: none;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	background-image: url(../images/vertical06a.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#navcontainer ul li ul{
	width: 180px;
}
#navcontainer ul ul li {
	margin: 0;
}
#navcontainer ul ul a {
	display: block;
	padding: 5px 5px 5px 30px;
	color: #000;
	background-color: #C5D8C5;
	text-decoration: none;
	font-weight: normal;
}
#navcontainer ul ul a:hover {
	color: #000;
	background-color: #889E88;
	text-decoration: none;
	font-weight: normal;
}
#navcontainer ul a:visited {
	color: #006600;
}